arcgis==2.3.0.3
azure-ai-ml==1.12.1
azure-core==1.29.6
azure-identity==1.15.0
azure-mgmt-containerregistry==14.1.0b1
azure-mgmt-keyvault==11.0.0
azure-storage-blob==12.19.0
azureml-core==1.0.23
ffmpeg-python==0.2.0
fsspec==2025.5.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
jsonlines==4.0.0
matplotlib==3.6.2
mltable==1.6.3
numpy==1.23.4
pandas==2.1.4
pyodbc
pytest==8.4.1
pytest-cov==6.2.1
pytest-html==4.1.1
pytest-mock==3.14.1
spoorinspectie-toolkit>=1.0.360722
toml==0.10.2
twine==6.1.0

